*.Rhistory
Meta
doc
inst/doc
.DS_STORE
.Rproj.user
data_analysis/figs/*
data/05.integrating-datasets*
_bookdown_files
_bookdown_files/*
*_cache
*_files
*.RData
*.rdb
*.rdx
*.rds
raw_data
*.utf8.md
*.md
workflows/lun-416b.html